<h1>Jira Projects</h1>
<ul>
  <% i = 0 %>
  <% while i < @projects.count %>
  <li>
    Project -> key: <%= @projects[i].key %>, name: <%= @projects[i].name %>
    <% i += 1 %>
  </li>
  <% end %>
</ul>